doctype
html
  head
    title Browser DJ Mixer
    link(rel='stylesheet', href='./stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    
    script(type='text/javascript', src='./javascripts/jquery-1.9.1.min.js')
    script(type='text/javascript', src='./javascripts/jquery-ui-10.0.2.min.js')
        
    script(type='text/javascript', src='./stylesheets/bootstrap/js/bootstrap.min.js')
     
    script(type='text/javascript', src='./javascripts/d3.v3.min.js')
    script(type='text/javascript', src='./javascripts/canvasLCD.js')
    
    script(type='text/javascript', src='./javascripts/base64-binary.js')
    script(type='text/javascript', src='./javascripts/browserdj.js')
 
    link(rel='stylesheet', href='./stylesheets/style.css')

  body
    block content
